/* The styling of the Drawing Board */

#container {
	margin: 0 auto;
	padding: 0;
	width: 800px;
	height: 800px;
	border: 1px solid white
}

.box {
	padding: 0;
	margin: 0;
	float: left;
	display: block;
	background-color: #444444;
}

.border-check {
	position: relative;
	top: 2.5px;
}